.App {
  text-align: center;
}

label {
  margin-right: 1rem;
}

.matrix {
  margin: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

th {
  width: 2rem;
  height: 2rem;
}

.cell {
  background-color: aliceblue;
  position: relative;
}

.start-cell {
  background-color: green;
}

.end-cell {
  background-color: red;
}

.mo {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: aquamarine;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mo-path {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #c4f1df;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bo {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #343837;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tests-button {
  margin-top: 2rem;
  cursor: pointer;
  color: white;
  background-color: red;
  padding: 0.5rem 1rem;
}

.results-table {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
}